.advice {
    overflow: hidden;
    margin-bottom: 10px;

    &__title {
        @include title;
        margin: 0 0 32px 0;
    }

    &__salesLink {
        display: inline-block;
        position: relative;
        font-weight: 400;
        font-size: 16px;
        padding: 0 20px 0 0;
        margin: 0 0 17px 0;
        color: $black;

        &::before {
            position: absolute;
            top: 6px;
            right: 0;
            display: block;
            content: "";
            width: 8px;
            height: 1px;
            transform: rotate(45deg);
            background: $black;
        }

        &::after {
            position: absolute;
            top: 12px;
            right: 0;
            display: block;
            content: "";
            width: 8px;
            height: 1px;
            transform: rotate(135deg);
            background: $black;
        }
    }

    &__tabs {
        display: flex;
        justify-content: flex-start;
        text-align: center;
        margin-bottom: 30px;
    }

    &__content {
        padding: 0 0 50px 0;
    }

    &__advices-list {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }

    &__tabs-item {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        padding: 9px 14px;
        font-weight: 600;
        font-size: 14px;
        color: #a9a9a9;
        background: $white;
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        cursor: pointer;
        transition: .1s ease-in-out;

        &:not(:last-child) {
            margin-right: 11px;
        }

        &.active {
            color: #02090c;
            border: 1px solid #002c3f;
        }

        &:hover {
            opacity: 1;
            color: #02090c;
            border: 1px solid #002c3f;
            box-shadow: 0 1px 4px 0 rgba(58, 59, 60, 0.25);
        }
    }

    &__content-item {
        position: absolute;
        display: none;

        &.active {
            position: relative;
            display: flex;
        }
    }
}
