.blog {
    overflow: hidden;
    margin: 0 0 20px 0;

    &__title {
        @include title;
        margin: 0 0 28px 0;
    }

    &__tabs {
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        text-align: center;
        margin-bottom: 30px;
    }

    &__content {
        padding: 0 0 21px 0;
    }

    &__advices-list {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }

    &__tabs-item {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        padding: 9px 14px;
        font-weight: 600;
        font-size: 14px;
        color: #a9a9a9;
        background: $white;
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        cursor: pointer;
        transition: .1s ease-in-out;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &.active {
            color: #02090c;
            border: 1px solid #002c3f;
        }

        &:hover {
            opacity: 1;
            color: #02090c;
            border: 1px solid #002c3f;
            box-shadow: 0 1px 4px 0 rgba(58, 59, 60, 0.25);
        }
    }

    &__content-item {
        position: absolute;
        display: none;

        &.active {
            position: relative;
            display: flex;
        }
    }

    &__slider {
        overflow: hidden;
        margin: 20px 0;
    }

    &__slide {
        position: relative;
    }

    &__slideCard {

        &:hover {
            opacity: 1;
        }
    }

    .slick-slider{
        height: 100%;
        margin: 0;
        z-index: 1;
    }

    /* Слайдер запущен */
    .slick-slider.slick-initialized{}

    /* Слайдер с точками */
    //.slick-slider.slick-dotted{}

    .slick-list {
        overflow: hidden;
        margin: 0 auto;
    }

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 10px;
        //margin: 0 0 10px 0;
    }

    /* Лента слайдов */
    .slick-track{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    /* Слайд */
    .slick-slide{
        overflow: hidden;

        &:not(:first-child) {
            margin-left: 10px;
        }
    }

    .slick-dots {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 83px;
        margin: 0 auto;
    }

    .slick-dots li{
        width: 10px;
        height: 10px;
        border: none;
        border-radius: 50%;
        margin-bottom: 5px;
        background-color: #D3D3D3;
    }

    /* Активная точка */
    .slick-dots li.slick-active{
        background-color: #242801;
    }

    /* Элемент точки */
    .slick-dots li button{
        display: none;
    }
    /* slider-end */
}
