.featuresDesc {
    overflow: hidden;
    padding: 0 0 85px 0;

    &__wrapper {

    }

    &__bannerBlock {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 0 24px 0;
    }

    &__banner {
        @include image-wrapper;
        flex-shrink: 0;
        width: 49.6%;
        height: 100%;
        margin: 0 9px 0 0;
    }

    &__bannerList {
        padding: 0 40px 0 0;
    }

    &__list {
    }

    &__item {

        &:not(:last-child) {
            margin: 0 0 23px 0;
        }

        ul {
            padding: 0 0 0 25px;

            li {
                list-style-type: disc;

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                }
            }
        }
    }

    &__itemTitle {
        font-family: "Oswald";
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        margin: 0 0 17px 0;
    }

    &__itemText {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }
}