.footer {
    overflow: hidden;
    background-color: $black;
    background: #002c3f;
    color: $white;

    &__wrapper {
        padding: 50px 0 0 0;
    }

    &__infoBlock {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__logo {
        width: 190px;
        height: auto;
        margin: 10px 0 15px 0;
    }

    &__slogan {
        display: flex;
        flex-flow: column nowrap;
        flex-shrink: 0;
        align-items: center;
        text-align: center;
        width: 11%;
        margin: 0 10px 0 0;
    }

    &__sloganText {
        font-family: "Oswald";
        font-weight: 500;
        font-size: 15px;
        line-height: 130%;
        text-align: center;
    }

    &__contacts {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        flex-shrink: 0;
        width: 66.5%;
        padding: 12px 161px 0 0;
        margin: 0 0 43px 0;
    }

    &__contactsBlock {
        display: flex;
        flex-flow: column nowrap;
        flex-shrink: 0;
        margin: 0 10px 0 0;

        &:nth-child(3) {
            width: 28%;
        }

    }

    &__contactsBlock:nth-child(3) {

        .footer__contactsList:first-child {
            margin: 0 0 46px 0;
        }
    }

    &__contactsItem {
        font-weight: 400;
        font-size: 14px;
        line-height: 134%;

        &:not(:last-child) {
            margin: 0 0 8px 0;
        }

        &:first-child {
            font-weight: 600;
            font-size: 18px;
            margin: 0 0 15px 0;
        }
    }
    
    &__contactsList {

        &:not(:last-child) {
            margin: 0 0 30px 0;
        }
    }

    &__social {
        display: flex;
        flex-flow: row nowrap;
    }

    &__socialLink {
        @include image-wrapper;

        &:nth-child(1) {
            margin: 0 5px 0 0;
        }

        a {
            display: inline-block;
            width: 40px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__privacy {
        font-weight: 400;
        font-size: 12px;
        margin: 0 0 40px 0;
    }
}

@media (max-width: $tablet-width) {
    .footer {

    }
}
