.mainPrice {
    overflow: hidden;
    margin: 0 0 60px 0;

    &__wrapper {
        position: relative;
    }

    &__title {
        @include title;
        margin: 0 0 27px 0;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        gap: 9px;
        margin: 0 0 31px 0;
    }

    &__item {
        width: 32.8%;
        display: flex;

        &:hover {
            opacity: 1;
        }
    }

    .priceCard {
        @include image-wrapper;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-shrink: 0;
        flex-flow: column nowrap;
        width: 387px;
        height: 243px;
        padding: 20px;
        background: $white;
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        z-index: -1;

        &__image {
            @include image-wrapper;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            img {
                width: 100%;
                height: auto;
            }
        }

        &__title {
            position: absolute;
            top: 16px;
            left: 15px;
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            color: $black;
            z-index: 2;
        }
    }

    &__showMore {
        @include blackButton;
        margin: 0 auto;
    }
}
