.promo {
    overflow: hidden;

    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        padding: 60px 0 57px 0;
    }

    &__slide {
        position: relative;
    }

    &__banner {
        @include image-wrapper;
        flex-shrink: 0;
        width: 100%;
        height: auto;
        border-radius: 6px;
    }

    &__bannerText {
        position: absolute;
        bottom: 38px;
        left: 40px;
        font-family: "Oswald";
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        color: #fefefe;
    }

    .slick-slider{
        overflow: hidden;
        height: 100%;
        margin: 0;
        z-index: 2;
    }

    /* Слайдер запущен */
    .slick-slider.slick-initialized{}

    /* Слайдер с точками */
    .slick-slider.slick-dotted{}

    .slick-list {
    }

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: visible;
        margin: 0 auto;
        margin-bottom: 31px;
    }

    /* Лента слайдов */
    .slick-track{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    /* Слайд */
    .slick-slide{
        overflow: hidden;
    }

    .slick-dots {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 83px;
        margin: 0 auto;
    }

    .slick-dots li{
        width: 10px;
        height: 10px;
        border: none;
        border-radius: 50%;
        margin-bottom: 5px;
        background-color: #D3D3D3;
    }

    /* Активная точка */
    .slick-dots li.slick-active{
        background-color: #242801;
    }

    /* Элемент точки */
    .slick-dots li button{
        display: none;
    }
    /* slider-end */
}

@media (max-width: $tablet-width) {
    .promo {

        &__wrapper {
            display: flex;
            flex-flow: column nowrap;
            padding: 40px 0 25px 0;
        }

        &__slide {
            position: relative;
        }

        &__banner {
            @include image-wrapper;
            flex-shrink: 0;
            width: 100%;
            height: auto;
            border-radius: 6px;
        }

        &__bannerText {
            position: absolute;
            bottom: 38px;
            left: 40px;
            font-family: "Oswald";
            font-weight: 500;
            font-size: 40px;
            line-height: 130%;
            color: #fefefe;
        }

        .slick-slider{
            height: 100%;
            margin: 0;
        }

        /* Ограничивающая оболочка */
        .slick-list {
            margin-bottom: 17px;
        }

        /* Лента слайдов */
        .slick-track{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 10px;
        }

        /* Слайд */
        .slick-slide{
        }

        .slick-dots {
            width: 72px;
        }

        .slick-dots li{
            width: 8px;
            height: 8px;
        }

        /* Активная точка */
        .slick-dots li.slick-active{
            background-color: #242801;
        }

        /* Элемент точки */
        .slick-dots li button{
            display: none;
        }
        /* slider-end */
    }
}