.special {
    overflow: hidden;
    margin: 0 0 60px 0;

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 700px) {
            flex-flow: column nowrap;
        }
    }

    &__banner {
        @include image-wrapper;
        position: relative;
        width: 58%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        flex-shrink: 0;
        border-radius: 6px;

        @media (max-width: 700px) {
            width: 100%;
            margin: 0 0 16px 0;
        }
    }

    &__bannerImg {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
        z-index: -1;

        img {
            @include image-wrapper;
            width: 100%;
            height: auto;
        }
    }

    &__title {
        position: absolute;
        bottom: 40px;
        left: 40px;
        font-family: "Oswald";
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        color: $white;
        margin: 0;

        @media (max-width: 1000px) {
            font-size: 32px;
        }

        @media (max-width: 850px) {
            font-size: 24px;
        }
    }

    &__form {
        display: flex;
        flex-flow: column nowrap;
        flex-shrink: 0;
        width: 37%;

        @media (max-width: 700px) {
            width: 100%;
        }
    }

    &__formTitle {
        @include title;
        margin: 0 0 19px 0;
    }

    &__formDescription {
        font-weight: 400;
        font-size: 16px;
        margin: 0 0 25px 0;

        @media (max-width: 768px) {
            font-size: 14px;
        }

        @media (max-width: 480px) {
            font-size: 12px;
        }
    }

    &__formButton {
        @include blackButton;
        width: 241px;
        padding: 14px 5px;
        font-weight: 600;
        font-size: 14px;
    }
}
