@mixin breakpoint {
    width: 1248px;
    margin: 0 auto;
    padding: 0 10px;

    @media (max-width: 1300px) {
        width: 100%;
        padding: 0 40px;
    }

    @media (max-width: 1000px) {
        width: 100%;
        padding: 0 20px;
    }

    @media (max-width: 764px) {
        width: 100%;
        padding: 0 15px;
    }

    @media (max-width: $mobile-width) {
        width: 100%;
        padding: 0 10px;
    }
}

@mixin font-setting($size, $line-height, $font-width, $font-color) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $font-width;
    color: $font-color;
}

@mixin magnifying-glass {
    &:hover {
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(29, 41, 49, 0.5);
            background-image: url("../img/main/magnifying-glass-icon.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

@mixin button {
    display: flex;
    padding: 9px 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #9f8750;
    color: $white;
    border: none;
    border-radius: 6px;

    &:hover {
        background: #8c7849;
        color: $white;
    }
}
