@import "normalize", "fonts", "variables", "mixins", "global", "animation";

// components

@import "block/components/header.scss", "block/components/promo.scss", "block/components/footer.scss";

// subcomponents

@import "block/subcomponents/card.scss";

//@import "block/subcomponents/card.scss";
